<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.userservice.mapper.FavoriteMapper">

    <insert id="addFavorite">
        INSERT INTO favorite (user_id, listing_id)
        VALUES (#{userId}, #{listingId})
    </insert>

    <delete id="removeFavorite">
        DELETE FROM favorite
        WHERE user_id = #{userId} AND listing_id = #{listingId}
    </delete>

    <select id="getFavoritesByUserId">
        SELECT * FROM favorite
        WHERE user_id = #{userId}
    </select>

    <delete id="deleteFavorite">
        DELETE FROM favorite
        WHERE id = #{id}
    </delete>
</mapper>